<div class="container">
  <h1 class="titulo">Cadastro de Clientes</h1>
  <form class="form-cadastro">
      <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" class="input-cadastro">
      </div>
  
      <div class="form-group">
          <label for="cpf">CPF:</label>
          <input type="number" id="cpf" name="cpf" class="input-cadastro">
      </div>
  
      <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" class="input-cadastro">
      </div>
  
      <div class="form-group">
          <label for="telefone">Telefone:</label>
          <input type="number" id="telefone" name="telefone" class="input-cadastro">
      </div>
      
      <button type="submit" class="btn-cadastro">Cadastrar Cliente</button>
  </form>
</div>


<div class="containerCliente">
  <h2>Lista de Clientes</h2>
  <table class="clientes-table">
      <thead class="table-header">
          <tr>
              <th class="table-header-cell">Nome</th>
              <th class="table-header-cell">CPF</th>
              <th class="table-header-cell">Email</th>
              <th class="table-header-cell">Telefone</th>
          </tr>
      </thead>
      <tbody class="table-body">
          <!-- Linhas de dados serão adicionadas aqui -->
      </tbody>
  </table>
</div>



